.a{
    border-radius:5%;
  
    
}
.b{
   font-family:'Kaushan Script', cursive;
    color: rgb(246, 120, 31);
    font-size: 30px;
    font-weight: bolder;
}
.c{
    color: black;
    font-weight:700;
}
.one{
    border-radius:2%;
}
.two{
    color: rgba(131, 131, 131, 0.835);
    font-size: small;
}
.d{
    color: aliceblue;
    background-color: rgb(5, 92, 200);
    border-radius: 25%;
    margin-top: 20px;
    border-style: none;
    
}
.d:hover{
    color: rgb(241, 116, 28);    
}
.three{
    border-radius:2%;
    height:500px;
    
}
.four{
    background-image:url("images/bg2.jpg");
    background-repeat: no-repeat;
    height: 500px;
  background-size:1800px;
  width: 5000px;

}
.e{
     font-family: 'Kaushan Script', cursive;
    color: rgb(246, 120, 31);
    font-size: 50px;
    font-weight: bolder;
    margin-left: 200px;
    margin-top: 50px;
    
}
div.f1{
    color: aliceblue;
    font-size:large;
    margin-bottom: 200px;

    margin-left: 200px;
}
.f2{
    font-family: 'Kaushan Script', cursive;
    color: rgb(246, 120, 31);
    font-size: 50px;
    font-weight: bolder;
    margin-left: 200px;
   
}
f3{
    color: rgb(20, 11, 1);
    background text-align: center;
    font-weight: bolder;
    nd-color: rgba(240, 248, 255, 0.471);
    border-radius: 15px;
    padding: 20px 0px 20px 0px;
    margin-top: 70px;
    margin-left: 110px;
    margin-bottom: 70px;
}

