-a.one{
    color: black;
    font-size: 16px;
   
}
.two{
    margin-left: 400px;
}
.three{
    background-image:url("images/banner-01.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
}
.four{
    color: aliceblue;
    font-size: 55px;
    font-family: 'Fuggles', cursive;
    text-align: center;
    margin-top: 270px;
    
}
.a1{
    color: black;
    font-size:50px ;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
}
.a2{
    height: 250px;
}
.a3{
    text-align: center;
    color: black;
    font-size: 20px;
    border-left: 1px solid black;
    line-height: 200px;
    
}
.a4{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: rgb(205, 225, 241);
    padding: 10px;
    
}
.a5{
    border-right: 1px solid rgb(4, 8, 8);
  text-align: center;

}
.b2{
    background-color: rgb(187, 214, 238);
}

.b3{
    color: black;
    font-size:50px ; 
    font-family: 'Playfair Display', serif !important;

}
.b4{
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 55, 55);
    border: 1px solid black;
}
.b5{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
    text-align: center;
    border: 1px solid black;
}
b6{
    border-left: 1px solid rgb(111, 165, 190);
    border-right: 1px solid rgb(111, 165, 190);
}